@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(240, 78%, 98%);
    width: 100vw;
}

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.row1 {
    display: block;
    flex-direction: row;
}

h2 {
    font-weight: 700;
    color: #6C6E89;
    text-align: center;
}

h4 {
    display: inline;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.box {}